.main-features
    .ledge-top.ledge-top_white
    .ledge-bottom.ledge-bottom_white
    .container
        +section-header("Преимущества нашей мебели", "Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. Мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную.")
        .main-features-prods
            +feature-item('img/feature-1.png', 'Стол','Индивидуальные настройки высоты рабочей поверхности')
            +feature-item('img/feature-2.png', 'Стол', 'Самодиагностика и предотвращение неполадок')
            +feature-item('img/feature-3.png', 'Стул', `Высокое качество используемых материалов`)
            +feature-item('img/feature-4.png', 'Стол', 'Модульность конструкции и наращивание функционала')
            +feature-item('img/feature-5.png', 'Доски', 'Максимальное соответствие требованиям эргономики')
            +feature-item('img/feature-6.png', 'Стол', 'Размещение большого количества оборудования и мониторов')
            +feature-item('img/feature-7.png', 'Стол', 'Док-станция для быстрого подключения оборудования')
            +feature-item('img/feature-8.png', 'Стол', 'Защита от НСД (несанкционированного доступа)')

