section.header
    .container
        .header__wrapper
            a.header__logo(href="#")
                img(src="img/logo.png", alt="Логотип")
            .col-3.offset-3
                .header-contacts
                    a(href="") +7 (8412) 551150
                    a(href="") sales@technoconsole.ru
            .col-1
                .header-social.social
                    a(href="")
                        img(src="img/svg/facebook.svg", alt="facebook")
                    a(href="")
                        img(src="img/svg/play.svg", alt="youtube")
            .header__nav
                ul
                    li
                        a(href="") О компании
                    li
                        a(href="") Проекты
                    li
                        a(href="") Услуги
                    li
                        a(href="") Шоу-рум
                    li
                        a(href="") Контакты
            a.header-lang Рус
