.models-count {
    border-top: 3px solid $btn-blue;
    color: #ffffff;
    width: 50px;
    margin-top: 46px;

    & .count {
        font-size: 36px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.222;
        padding: 20px 0 15px;
    }

    & .text {
        font-size: 15px;
        font-family: "Roboto";
        color: rgb(255, 255, 255);
        line-height: 2;
        font-weight: 400;
    }
}
