.main-products
    .ledge-top.ledge-top_white
    .container
        +section-header("Наша продукция", "Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. Мы не просто реализуем качественную продукцию,  мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. ")
    .main-products__controllers
        .curve_1
        .container
            .col-5.offset-6
                h2.block__title Диспетчерские
                    br
                    |премиум класса
                p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. Мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную.
                +models-count(12)
                +btns-order("Подробнее","#","Заказать","#")
    .main-products__meet-rooms
        .curve_2
        .container
            .col-4
                h2.block__title Переговорные
                    br
                    |премиум класса
                p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. Мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную.
                +models-count(17)
                +btns-order("Подробнее","#","Заказать","#")
    .main-products__smart-office
        .container
            .col-5.offset-6
                h2.block__title Умные офисы
                p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. Мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную.
                 +models-count(12)
                +btns-order("Подробнее","#","Заказать","#")