.main-projects__header
    .ledge-bottom.ledge-bottom_white
    .container
        +section-header("проекты компании", "Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. Мы не просто реализуем качественную продукцию, мы воплощаем в жизнь проект, позволяющий эффективно организовать профессиональную деятельность путем тщательного планирования рабочего места. ")
.main-projects   
    .slider.slider__projects
        .slide(style="background-image:url(img/projects-slide-1.jpg)")
            .container
                .col-5
                    .slide-logo
                        img(src="img/vdnh-logo.png", alt="building")
                    h2.block__title Оснащение диспетчерского
                        br
                        |пункта компании Т+
                    p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем      в жизнь проект, позволяющий эффективно организовать профессиональную        деятельность путем тщательного планирования рабочего места. Мы воплощаем в     жизнь проект, позволяющий эффективно организовать профессиональную.
                    +btns-order("Подробнее","#","Заказать","#")
        .slide(style="background-image:url(img/meeting-rooms-bg.jpg)")
            .container
                .col-5
                    .slide-logo
                        img(src="img/vdnh-logo.png", alt="building")
                    h2.block__title Оснащение диспетчерского
                        br
                        |пункта компании ИИИ-
                    p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем      в жизнь проект, позволяющий эффективно организовать профессиональную        деятельность путем тщательного планирования рабочего места. Мы воплощаем в     жизнь проект, позволяющий эффективно организовать профессиональную.
                    +btns-order("Подробнее","#","Заказать","#")
        .slide(style="background-image:url(img/smart-office-bg.jpg)")
            .container
                .col-5
                    .slide-logo
                        img(src="img/vdnh-logo.png", alt="building")
                    h2.block__title Оснащение диспетчерского
                        br
                        |пункта компании Х-N
                    p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем      в жизнь проект, позволяющий эффективно организовать профессиональную        деятельность путем тщательного планирования рабочего места. Мы воплощаем в     жизнь проект, позволяющий эффективно организовать профессиональную.
                    +btns-order("Подробнее","#","Заказать","#")
        .slide(style="background-image:url(img/meeting-rooms-bg.jpg)")
            .container
                .col-5
                    .slide-logo
                        img(src="img/vdnh-logo.png", alt="building")
                    h2.block__title Оснащение диспетчерского
                        br
                        |пункта компании ИИИ-
                    p.block__descr Мы не просто реализуем качественную продукцию, мы воплощаем      в жизнь проект, позволяющий эффективно организовать профессиональную        деятельность путем тщательного планирования рабочего места. Мы воплощаем в     жизнь проект, позволяющий эффективно организовать профессиональную.
                    +btns-order("Подробнее","#","Заказать","#")