include ../../blocks/modules/main-intro/main-intro
include ../../blocks/modules/main-products/main-products
include ../../blocks/modules/main-projects/main-projects
include ../../blocks/modules/main-features/main-features
include ../../blocks/modules/main-order/main-order
include ../../blocks/modules/main-news/main-news