.main-intro
    a.order-side
        .order-side-lock
        .order-side-text Заказать
    .container
        .row
            .col-6.offset-3
                .main-intro__nav
                    ul
                        li
                            a(href="#") Каталог
                        li
                            a(href="#") Диспетчерские
                        li
                            a(href="#") Переговорные
                        li
                            a(href="#") Умные офисы
            .col-1.offset-2
                .main-intro__nav-lock
                    button
                    button
        .main-intro__content
            .col-4
                h1.block__title Диспетчерская мебель премиум класса
                p.block__descr Диспетчерская мебель премиум-класса для режима эксплуатации 24/7 в диспетчерских, операторных, центрах мониторинга.
                +btns-order("Подробнее","#","Заказать","#")