.social {
    display: flex;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 20px;
        height: 16px;
        transition: 0.3s all;
        background: $menu-grey-text;
        border-radius: 3px;

        & img {
            position: absolute;
            right: 2px;
            bottom: 0;
            width: 12px;
        }

        &:first-child {
            margin-right: 17px;
        }

        &:nth-child(2) {
            margin-right: 17px;

            & img {
                right: 6px;
                bottom: 4px;
                width: 6px;
            }
        }
    }
}
