section.footer
    .ledge-top.ledge-top_black
    .ledge-bottom.ledge-bottom_black
    .container
        .row
            .col-2.offset-1
                .footer-menu
                    h4 Оформить запрос
                    ul
                        li
                            a(href="") Заказ в три шага (квиз)
                        li 
                            a(href="") Запросить КП
                        li 
                            a(href="") Заполнить опросный-лист
                        li 
                            a(href="") Задать вопрос
            .col-3.offset-1
                .footer-menu
                    h4 Продукция
                    ul
                        li
                            a(href="") Диспетчерские пульты
                        li
                            a(href="") Диспетчерские кресла
                        li
                            a(href="") Шкафы и тумбы
                        li
                            a(href="") Переговорные столы
                        li
                            a(href="") Офисные столы
                        li
                            a(href="") Видеостены
                        li
                            a(href="") Мультимедия/конференц-связь
                        li
                            a(href="") Аксесуары
            .col-2
                .footer-menu
                    h4 Решения
                    ul
                        li
                            a(href="") Диспетчерские
                        li
                            a(href="") Переговорные
                        li
                            a(href="") Умные офисы
            .col-3
                .footer-menu
                    h4 Техноконсоль
                    ul
                        li
                            a(href="") Информация о компании
                        li
                            a(href="") Наши проекты
                        li
                            a(href="") Шоу-рум
                        li
                            a(href="") Услуги
                        li
                            a(href="") Вопросы ответы
                        li
                            a(href="") Сертификаты
                        li
                            a(href="") Отзывы клиентов
                        li
                            a(href="") Видео
                        li
                            a(href="") Новости
                        li
                            a(href="") Контактная информация
.footer-bottom
    .container
        .footer-bottom-content
            .row
                .col-3
                    a.footer-bottom-logo
                        img(src="img/logo.png", alt="Логотип")
                .col-2.offset-1
                    .footer-bottom-phone
                        a(href="#") +7 (8412) 551150
                .col-2
                    .footer-bottom-email
                        a(href="#") sales@technoconsole.ru
                .col-3
                    .footer-bottom-address
                        a(href="#") 440028, г.Пенза, ул.Германа Титова, 1 лит.Г
                .col-1
                    .footer-bottom-social.social
                        a(href="")
                            img(src="img/svg/facebook.svg", alt="facebook")
                        a(href="")
                            img(src="img/svg/play.svg", alt="youtube")

